$main-orange: rgb(235, 151, 15);
$main-light: rgb(252, 250, 237);

$main-green: #606c38;
$main-green-dark: #283618;
$main-creme: #e6e4e2;


$main-purple: #551a8b;

// $main-orange: rgb(235, 151, 15);
// $main-light: #fefae0;

// $main-green: #606c38;
// $main-green-dark: #283618;
// $main-creme: #f2dbba;